div{
    display: flex;
   
}
select{
    border:none ;
    font-family: 'myfont';
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
outline: none;



}
/* select :focus{
    border: 0;
    border-color: none;
} */
option{
    border: none;
}