
<div class="radio">
        
        <div class="flex align-items-center">
            <p-radioButton name="12H" value="12 - Hour(s)" [(ngModel)]="TimeFormate" inputId="TimeFormate1" (ngModelChange)="onTimeFormatChange()"></p-radioButton>
            <label for="TimeFormate1" class="ml-2">&nbsp;&nbsp;&nbsp;&nbsp;12 - Hour(s)</label>
        </div>
        
        <div class="flex align-items-center">
            <p-radioButton name="24H" value="24 - Hour(s)" [(ngModel)]="TimeFormate" inputId="TimeFormate2" (ngModelChange)="onTimeFormatChange()"></p-radioButton>
            <label for="TimeFormate2" class="ml-2">&nbsp;&nbsp;&nbsp;&nbsp;24 - Hour(s)</label>
        </div>
  </div> 